#border{
 
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
 }
#verification_heading{
  text-align: center;
  
} 
#verification_subtext{
  color: grey;
  margin: 30px;
}
.code-container{
  padding-left: 20px; 
}
.code{
 
  margin: 15px;
  border-radius: 5px;
  border: 2px solid red;
  width: 50px;
  height:100px;
}








 